body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #252727;
    font-family: 'Comic Neue', cursive;
    color: #ffffff;
}

canvas {
    border: 3px solid #333;
    margin-top: 50px;
    background-color: #87CEEB;
    display: block;
}

.instructions {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    max-width: 600px;

}